<div class="hp-header">
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
    data-navbar-on-scroll="data-navbar-on-scroll"
  >
    <div class="container">
      <a class="navbar-brand d-inline-flex" routerLink="/Okizon"
        ><img
          class="d-inline-block"
          src="assets/img/gallery/logo.png"
          alt="logo"
        /><span class="text-1000 fs-0 fw-bold ms-2">Okizon</span></a
      ><button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
        id="navbarSupportedContent"
      >
        <div class="hp-search-bar">
          <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
          />
          <form action="">
            <input type="search" required />
            <i class="fa fa-search"></i>
            <a href="javascript:void(0)" id="clear-btn">Clear</a>
          </form>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-2" *ngIf="!isUserLoggedIn">
            <a class="nav-link fw-medium active" routerLink="/Login" routerLinkActive = "active" aria-current="page">Login</a>
          </li>
          <li class="nav-item px-2" *ngIf="!isUserLoggedIn">
            <a class="nav-link fw-medium" routerLink="/Registration" routerLinkActive = "active">Register</a>
          </li>
          <li *ngIf="isUserLoggedIn">
            <span class="nav-link fw-medium">Welcome, Aki</span>
          </li>
          <li *ngIf="isUserLoggedIn">
            <a class="text-1000 profile-logo" href="#!">
              <svg
                class="feather feather-user me-3"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
